/* General */
body {
    margin: 0;
    height: 100%;
    background-color: #3a5f84;
    box-sizing: border-box;
    color: #ffffff;
    font-family: Arial
}

/* Header */
header {
    width: 100%;
    background-image: url("../assets/code.png");
    padding: 50px;
    text-align: center;
    margin-top: 0px;
}

header h1 {
    color: #bbbbbb;
    font-size: 50px;
}


.content {
    position: relative;
    height: auto;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.content hr {
    width: 95%;
    opacity: 50%;
}

/* First part of content */
.first-part {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.first-part .pic {
    width: 400px;
    height: 400px;
    padding: 50px 40px 50px 100px;
}

.first-part .pic img {
    position: relative;
    height: 100%;
    width: auto;
    border-radius: 5%;
    box-shadow: 0px 0px 10px 10px #2e5672;
}

.first-part .about-me {
    display: table;
    table-layout: fixed;
    min-width: 300px;
    width: calc(100% - 350px);
    height: 300px;
    text-align: left;
    padding: 50px 50px 50px 50px;
    line-height: 20px;

}

.about-me .text {
    font-size: 15px;
    display: table-cell; 
    vertical-align: middle; 
    text-align: left;
    opacity: 70%;
}


/* Second part of content */
.second-part {
    padding-top: 50px;
    height: auto;
    width: 100%;
}

.second-part .links {
    height: auto;
    text-align: center;
}

.links ul {
    overflow: auto;
    padding: 0;
    margin: 0;
}

.links ul li {
    padding: 20px;
    display: inline-block;
    text-align: center;
    width: 80px;
    opacity: .5;
}

.links ul li:hover {
    opacity: 1;
    color: #ffffff;
}

.links ul li .icon {
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 30px;
    height: 30px;
}

.links a {
    font-family: monospace;
    font-size: 18px;
    font-weight: 500;
    color: #4e5252;
    text-align: center;
    text-decoration: none;
}

.links a:visited {
    font-family: monospace;
    font-weight: 500;
    color: #4e5252;
    text-decoration: none;
}

